
 <!-- <label  for="fname" class="required" id='my_input'>Your Name</label><br> -->
 <!-- <div class="row">
    <div class="col-sm-2">
        <input class="inputs1"type="text" id="fname" name="fname" size="20" >
    </div>
    <div class="col-sm-2">
         <input class="inputs" type="text" id="fname" name="fname" size="20" >
    </div>
   
 </div> -->
 <div class="inputs">
 <label class="inputs3" for="fname" class="required" id='my_input'>Your Name</label><br>
 <div >
    <!-- <input  class="inputs1"type="text" id="fname" name="fname" size="50" >
    <input  class="inputs" type="text" id="fname" name="fname" size="50" > -->
    <input id="float-input" type="text" id="fname" name="fname" size="50" pInputText >&nbsp;
    <input id="float-input" type="text"id="fname" name="fname" size="50"  pInputText >
 </div>
 <div >
    <label class="inputs3" for="fname" id='my_input'>First Name</label>
    <label class="inputs3"  class="inputs2" for="fname" id='my_input'>Last Name</label>
    
 </div>
 <div class="inputs3"> 

 </div>
  <label  for="fname" class="required">Email</label><br>
  <!-- <input type="text" class="inputs1" id="fname" name="fname" size="107" ><br> -->
  <input id="float-input" type="text"id="fname" name="fname" size="105"  pInputText >
  </div>
