<!-- <app-stylebinding></app-stylebinding> -->
  <!-- <app-classbinding></app-classbinding> -->
  <!-- <app-ngfor-demo></app-ngfor-demo> -->
  <!-- <app-ngif-demo></app-ngif-demo> -->
  <!-- <app-ngswitch-demo></app-ngswitch-demo> -->
  <!-- <h1>Marvellous Infosystem</h1>
  <app-batchlist></app-batchlist>
  <app-batchdetails></app-batchdetails> -->

  <!-- <h1>Marvellous Infosystems</h1>
  <app-withservice></app-withservice>
  <app-withoutservice></app-withoutservice> -->

  <!-- assignment 9.1 -->

  <!-- <app-arithimaticdemo></app-arithimaticdemo> -->

  <!-- assignment 9.2 -->

  <!-- <app-child1></app-child1>
  <app-child2></app-child2> -->

  <!-- assignment 3 -->

  <!-- <app-child3></app-child3> -->


  <!-- routing  -->


  <!-- <h1>Marvellous Knowledge Sharing Portal</h1>
  <h2>Select the below option</h2>
  <nav>
    <li><a routerLink="/aboutus">About Us</a></li>

    <li><a routerLink="/batches">Batches</a></li>
    
    <li><a routerLink="/subjects">Subjects</a></li>

  </nav>

  <router-outlet></router-outlet> -->

  <!-- <section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="example-label">FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab disabled aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
          <mat-icon>filter_list</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section> -->

<!-- assignment 10 -->
<!-- <app-header></app-header>
<app-personalinfo></app-personalinfo><br>
<app-buginfo></app-buginfo><br>
<app-footer></app-footer> -->

<!-- <h1>Welcome to Marvellous Infosystem's First Application!</h1> -->

<!-- <label for="fname">Marvellous Infosystem</label>
<input type="text" id="fname" name="fname"><br><br> -->

<!-- <p>Demo works!</p> -->

<!-- <h1>Hello from First Component!</h1> -->


<!-- <app-footer></app-footer>  -->

<!-- <div style="text-align:center">
<h1>Inside App component of App module</h1>
<button routerLink='/admin'>Admin</button>&nbsp;s
<button routerLink='/student'>Student</button>
<app-ademo></app-ademo>
<app-sdemo></app-sdemo>
<router-outlet></router-outlet>
</div> -->

<!-- Assignment 11 -->

<!-- <nav>
  <li><a routerLink="/technologies">Technologies</a></li>
  <li><a routerLink="/books">Books</a></li>
</nav>
<router-outlet></router-outlet> -->

<!-- assignment 8 -->

<!-- <app-child></app-child> -->

<!-- pipes -->
<!-- <h1>Demonstration of Inbuilt Pipes</h1>
<h1>{{name}}</h1>
<h1>{{name | lowercase}}</h1>
<h1>{{name | uppercase}}</h1>
<h1>{{name | titlecase}}</h1>
<h1>{{name | slice:8}}</h1>
<h1>{{name | slice:8:12}}</h1>

<h1>{{batches|json}}</h1>
<h1>{{today}}</h1>
<h1>{{today |date:'short'}}</h1>
<h1>{{today |date:'shortDate'}}</h1>
<h1>{{today |date:'shortTime'}}</h1>
<h1>{{no}}</h1>
<h1>{{no|number:'1.2-3'}}</h1>
<h1>{{no|number:'3.4-5'}}</h1>
<h1>{{no|number:'3.1-2'}}</h1>
<h1>{{fees}}</h1>
<h1>{{fees|currency}}</h1>
<h1>{{fees|currency:'INR'}}</h1>
<h1>{{fees|currency:'AED'}}</h1> -->

<!-- custom pipe -->
<!-- <h1>{{"Marvellous Pune" | demo:"PPA":"Phyton":"Angular"}}</h1> -->

<!-- <h1>Marvellous Infosystems Educating for better Tomorrow</h1> -->
<!-- 
<h1 appHello>Marvellous Infosystems Educating for better Tomorrow</h1>
<h1 appHello1>Marvellous Infosystems Educating for better Tomorrow</h1> -->
<!-- <h1 appHello>Marvellous Infosystems Educating for better Tomorrow</h1> -->

<!-- <h1>{{"Marvellous Pune" | myRev}}</h1> -->

<!-- <h1>Addition is: {{8 | myAdd:3}}</h1> -->

<!-- <h1>Multiplication is: {{7 | myMult:3}}</h1> -->

<!-- <h1>{{5 |  marvellousChk:"Odd"}}</h1> -->

<!-- <h1>Marvellous Infosystems</h1>
<input type="text"> -->

<!-- <app-new-comp></app-new-comp> -->

<input type="text" [(ngModel)]="str1" (ngModelChange)="changeEvent($event)" >
<h1>Length of the string is {{count1}}</h1>